body{
  height: 1500px;
  margin: 0;
  padding: 0;
}

.back{
  width: 1590px;
  height: 700px;
  position: absolute;
  top: 150px;
  right: 0px;

}

body {  
  font-family: Arial, sans-serif;  
  margin: 0;  
  padding: 0;  
}  

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  z-index: 1000;
}

.header.hide {
  transform: translateY(-100%); 
}


.logo {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.title {
  font-size: 18px;
}

.content {
  margin-top: 80px;
  padding: 20px;
}

.text1 {
  color: black; 
  position: absolute;
  left: 580px;
  top: 22px;
  cursor: pointer;
  text-decoration: none; 
  font-weight: bold; 
  font-style: italic;
}

.text1:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px; 
  background-color: black; 
  transition: width 0.5s; 
}

.text1:hover:after {
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px; 
  background-color: black; 
  transition: width 0.5s; 
}

.text2 {
  color: black; 
  position: absolute;
  left: 680px;
  top: 22px;
  cursor: pointer;
  text-decoration: none; 
  font-weight: bold; 
  font-style: italic;
}

.text2:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px; 
  background-color: black;
  transition: width 0.5s; 
}

.text2:hover:after {
  width: 100%; 
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px; 
  background-color: black; 
  transition: width 0.5s; 
}

.text3 {
  color: black; 
  position: absolute;
  left: 780px;
  top: 22px;
  cursor: pointer;
  text-decoration: none; 
  font-weight: bold; 
  font-style: italic;
}

.text3:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px; 
  background-color: black; 
  transition: width 0.5s; 
}

.text3:hover:after {
  width: 100%; 
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px; 
  background-color: black; 
  transition: width 0.5s; 
}

.text4 {
  color: black; 
  position: absolute;
  left: 880px;
  top: 22px;
  cursor: pointer;
  text-decoration: none; 
  font-weight: bold; 
  font-style: italic;
}

.text4:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px; 
  background-color: black; 
  transition: width 0.5s; 
}

.text4:hover:after {
  width: 100%; 
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px; 
  background-color: black; 
  transition: width 0.5s; 
}

.logo-Nike{
position: absolute;
left: 50px;
width: 70px;
}

.text-block, .link-block {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  opacity: 0; /* Начальное значение прозрачности */
  transition: opacity 1s ease-in-out; /* Плавный переход */
  position: absolute; /* Фиксируем позицию, чтобы блоки накладывались друг на друга */
  left: 50%; /* Устанавливаем центрирование по горизонтали */
  transform: translateX(-50%); /* Центрируем элементы */
  top: 70px; /* Позиция по умолчанию */
  width: auto; /* Авто ширина для блоков */
}

/* Стили для ссылок */

/* Уникальные классы для сдвига текстов */
.sponsor-text {
  left: 50%; /* Центрируем второй текст */
  transform: translateX(-60%); /* Сдвигаем влево */
}

.sponsor {
  left: 49%; /* Центрируем третий текст */
  transform: translateX(-50%); /* Нормальное центрирование */
}

.tex1 {
  position: absolute;
  color: #000000; /* Начальный цвет текста */
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  transition: color 0s ease; /* Плавный переход цвета */
  text-decoration: none;
  left: 1310px;
  top: 80px;
}

.tex1:hover {
  color: #797979; /* Цвет текста при наведении */
}

.tex2 {
  position: absolute;
  color: #000000; /* Начальный цвет текста */
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  transition: color 0s ease; /* Плавный переход цвета */
  text-decoration: none;
  left: 1390px;
  top: 80px;
}

.tex3 {
  position: absolute;
  color: #000000; /* Начальный цвет текста */
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  transition: color 0s ease; /* Плавный переход цвета */
  text-decoration: none;
  left: 1408px;
  top: 80px;
}

.tex3:hover {
  color: #797979; /* Цвет текста при наведении */
}

.tex4{
  position: absolute;
  color: #000000; /* Начальный цвет текста */
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  transition: color 0s ease; /* Плавный переход цвета */
  text-decoration: none;
  left: 1450px;
  top: 80px;
}

.tex5 {
  position: absolute;
  color: #000000; /* Начальный цвет текста */
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  transition: color 0s ease; /* Плавный переход цвета */
  text-decoration: none;
  left: 1468px;
  top: 80px;
}

.tex5:hover {
  color: #797979; /* Цвет текста при наведении */
}

.tex6{
  position: absolute;
  color: #000000; /* Начальный цвет текста */
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  transition: color 0s ease; /* Плавный переход цвета */
  text-decoration: none;
  left: 1520px;
  top: 80px;
}

.tex7 {
  position: absolute;
  color: #000000; /* Начальный цвет текста */
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  transition: color 0s ease; /* Плавный переход цвета */
  text-decoration: none;
  left: 1538px;
  top: 80px;
}

.tex7:hover {
  color: #797979; /* Цвет текста при наведении */
}
.jordan{
position: absolute;
top: 70px;
left: 20px;
}
.converse{
  position: absolute;
  top: 74px;
left: 70px;
}